{% load static %}
<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand" style="color: white;" href="{% url 'charts'%}"> Wine Cellar Dashboard<img src="{% static 'dashboard/img/wine.png' %}" style="height: 40px; width: 50px;"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Sensor
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'charts_detail' 1 %}">Sensor 1</a>
            <a class="dropdown-item" href="{% url 'charts_detail' 2 %}">Sensor 2</a>
            <a class="dropdown-item" href="{% url 'charts_detail' 3 %}">Sensor 3</a>
            <a class="dropdown-item" href="{% url 'charts_detail' 4 %}">Sensor 4</a>
            <a class="dropdown-item" href="{% url 'charts_detail' 5 %}">Sensor 5</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'charts'%}">Overview</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>